# -*- mode: conf -*-
# {{ ansible_managed }}

[Unit]
Description=Teamcity server
Documentation=https://confluence.jetbrains.com/display/TCD10/Installing+and+Configuring+the+TeamCity+Server#InstallingandConfiguringtheTeamCityServer-InstallingTeamCityServer
After=network.target

[Service]
Type=forking
User={{ teamcity_server_user }}
ExecStart={{ teamcity_server_install_dir }}/bin/teamcity-server.sh start
ExecStop={{ teamcity_server_install_dir }}/bin/teamcity-server.sh stop
PIDFile={{ teamcity_server_install_dir }}/logs/teamcity.pid
RestartSec=5
Restart=always

[Install]
WantedBy=multi-user.target
